body {
    background-color: #B6B4C2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-style:initial;
    text-align: center;
    padding: 5px;
    font-size: 17px;
}

header {
    background-color: #E5C1CD;
    color: white;
    text-align: center;
    padding: 5px;
}

section{
    margin: 20px;
}

h1 {
    font-size: 2em
}

img{
    width: 300px
}

footer{
    background-color: #AAC9CE;
    color: white;
    text-align: center;
    position: fixed;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


body {
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin: 20px; 
}

input, button { 
    padding: 20px; 
    margin: 5px; 
}

.todo-list { 
    list-style:none;
    padding: 0; 
    width: 300px; 
    margin: auto; 
}

.todo { 
    padding: 30px; 
    border-bottom: 1px solid #ddd; 
    color: black;
    background: #f9f9f9; }
